rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /tiledData/{document=**}{
      allow read, write: if true;
    }
  }
}